<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block title %}Sign In{% endblock title %}

{% block content %}

    <main class="form-signin">
    {% include 'messages.html' %}
  <form action="{% url 'register' %}" method="POST">
      {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Sign In</h1>
        <label for="inputEmail" class="visually-hidden">Phone number</label>
        {{ form.phone_number }}
        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Continue</button>
      </form>
</main>
{% endblock content %}
